#my-admin-space
{
	color:white;
	font-weight:bold;
	font-size: 1.3em;
}

.my-cv-section
{
	background-color: #233140;
}

.my-white
{
	color:white;
}

.my-no-padding
{
	padding: 0!important;
}

.my-no-radius
{
	border-radius: 0!important;
}

.my-no-margin
{
	margin: 0!important;
}

.my-article-preview
{
	margin-bottom: 5em;
}

.my-article-preview-cont
{
	min-height: 220px;
}

.my-article-preview-cont-admin
{
	min-height: 160px;
}

.my-h2-title
{
	margin-bottom:1em!important;
}

.my-comment
{
	border: 1px solid silver;
    border-radius: 5px;
    box-shadow: 1px 1px 1px silver;
    margin-bottom: 2em;
}

.my-comment.admin
{
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px; 
}

.my-comment-button-validate
{
	border-radius: 0px 0px 0px 5px;
}

.my-comment-button-remove
{
	border-radius: 0px 0px 5px 0px;
	font-weight: bold;
}

.my-comment-cont
{
	padding-top:20px;
	min-height:150px;
}

.my-comment-detail
{
	border-top: 1px solid silver;
}

.my-comment-admin-button-group
{
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px silver;
	border-radius: 0px 0px 5px 5px;
}

.my-date-field
{
	width:33%;
	display: inline-block;
}

#my-img-prohibited
{
	max-width:500px;
	max-height:500px;

	width:100%;
}

#my-img-404
{
	max-width:500px;
	width:100%;
}

.my-item-article-list
{
	border: 1px solid silver;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px silver;
}

.my-item-member-list
{
	border: 1px solid silver;
	margin-bottom: 10px;
	box-shadow: 1px 1px 1px silver;
}

.my-item-article-list-title
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.my-full-width
{
	width: 100%;
}

.my-title-admin-home
{
	margin-bottom:25px;
}

@media (max-width: 768px) {
	
	.my-article-preview-cont
	{
		min-height: auto;
	}
}