{% extends '@core/layout.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <section>
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-offset-2 col-sm-8">
    				<h1>Se connecter</h1>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-sm-offset-2 col-sm-8">
    				{% if user.hasFlash() %}
						<div class="alert alert-danger">
							{{user.getFlash()}}
						</div>
    				{% endif %}
    				<form action="{{url.generateUrl('login')}}" method="post">
    					{{form|raw}}
    					<div class="row">
	    					<div class="col-xs-12 text-center">
	    						<br>
	    						<button type="submit" class="btn btn-success btn-lg">Se connecter</button>
	    					</div>
	    				</div>
    				</form>
    			</div>
    		</div>
    	</div>
    </section>
{% endblock %}