{% extends '@core/layout.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p>{{msg}}</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}