{% extends '@core/layout.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}
    <section>
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 text-center">
    				<h1>Vous n'avez les droits nécessaire pour accéder a cette page</h1>
    			</div>
	    		<div class="col-xs-12 text-center">
	    			<img id="my-img-prohibited" src="bootstrap-theme/img/interdit.png">
	    		</div>
    		</div>
    	</div>
    </section>
{% endblock %}