{% extends '@core/layout.html.twig' %}

{% block title %}Erreur 404{% endblock %}

{% block body %}
    <section>
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 text-center">
    				<h1>Nous n'avons pas trouvé la page que vous cherchiez</h1>
    			</div>
	    		<div class="col-xs-12 text-center">
	    			<img id="my-img-404" src="bootstrap-theme/img/404.png">
	    		</div>
    		</div>
    	</div>
    </section>
{% endblock %}